* {
    margin: 0;
    box-sizing: border-box;
    max-width: 100vw;
    max-height: 406px;

}
#create-new-game-container{
    width: 100vw;
    height: 10vh;
    text-align: center;
    font-size: 5vh;
    background: chartreuse;
}
#checkers-game-container{
    position: relative;
    width:100vw;
    height: 100vh;
}
#chess-board {
    position: absolute;
    /* top: 5rem;
    left: 25vw; */
    display: grid;
    grid-template-rows: repeat(8, 1fr);
    grid-template-columns: repeat(8, 1fr);
    width: calc(47.2vw + 6px);
    border-style: solid;
    border-width: 3px;
    max-width: 406px;
    max-height: 406px;

}

.black {
    background: black;
    border-color: black;
}

.red {
    background: red;
    border-color: red;
}

.white {
    background: white;
    border-color: white;
}

.square {
    width: 5.9vw;
    height: 5.9vw;
    max-width: 50px;
    max-height: 50px;
}

.piece {
    box-sizing: border-box;
    border-radius: 50%;
    border-style: solid;
    border-width: 3px;
    border-color: black;
    width: 5.6vw;
    height: 5.6vw;
    cursor: move;
    position: relative;
    top: 1%;
    left: 1%;
    max-width: 47px;
    max-height: 47px;
}
.king .piece{
    position: absolute;
    top: -1.45vw;
    left: -1.75vw; 
}

.red.chosen {
    background: rgb(182, 68, 102);
}

.white.chosen {
    background: rgb(161, 174, 182);
}

.king {
    position: relative;
    margin: 1.6vw;
    bottom: 100%;
    width: 2.9vw;
    height: 2.9vw;
    box-sizing: border-box;
    border-radius: 50%;
    border-style: solid;
    border-width: 3px;
    border-color: black;
    /* left: 25%; */
    cursor: move;
    background: transparent;
    max-width: 25px;
    max-height: 25px;
}
@media(min-width:850px) {
    .king{
        margin: 14px;
    }
    .king .piece{
        top: -13px;
        left: -17px; 
        }
}

.modal {
    position: absolute;
    top: 30vh;
    left: 17.5vw;
    width: 63vw;
    height: 40vw;
    opacity: 90%;
    background: rgb(85, 77, 189);
    font-size: 8vw;
    text-align: center;
    z-index: 4;


}

.button {
    border-color: black;
    border-style: solid;
    border-width: 3px;
    opacity: 100%;
    background: rgb(66, 60, 136);

    /* display: inline-block; */
}

.draw-offer {
    background: rgb(85, 77, 189);
    font-size: 8vw;
    text-align: center;
    display: grid;
    grid-template-rows: 3fr 2fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'accept-draw accept-draw'
        'yes no';
    top: 15vh;
}

.yes {
    grid-area: yes;
}

.no {
    grid-area: no;
}

#accept-draw {
    grid-area: accept-draw;
}

#resign-button {
    position: absolute;
    top: 25vw;
    right: 5vw;
    width: 10vw;
    height: 5vw;
    background: rgb(158, 49, 49);
    text-align: center;
    font-size: 3.0vw;

}

#draw-button {
    position: absolute;
    top: 15vw;
    right: 5vw;
    width: 10vw;
    height: 5vw;
    background: rgb(82, 172, 164);
    text-align: center;
    font-size: 3.0vw;

}

#back-drop {
    width: 100vw;
    height: 100vh;
    background: black;
    opacity: 80%;
    z-index: 3;
}

.display-none {
    display: none;
}

#current-turn {
    position: absolute;
    top: 5vw;
    right: 5vw;
    width: 10vw;
    height: 5vw;
    text-align: center;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    font-size: 2vw;
}

#game-is-won {
    height: 20vw;
}

#game-is-draw {
    height: 20vw;
}
.transparent{
    background: transparent;
}

@media(max-width:25rem) {
    #chess-board {
        position: absolute;
        display: grid;
        grid-template-rows: repeat(8, 1fr);
        grid-template-columns: repeat(8, 1fr);
        width: 100vw;
        border-style: solid;
        border-width: 3px;
        border-right-width: 3px;
    }
    .square {
        width: 11.8vw;
        height: 11.8vw;
    }
    
    .piece {
        width: 11.8vw;
        height: 11.8vw;
    }
    .king .piece{
        position: absolute;
        top: -1.45vw;
        left: -1.75vw; 
    }           
    .king {
        width: 5.8vw;
        height: 5.8vw;
        margin: 3vw;
    }
    
    
    .draw-offer {
        top: 20vw;
        left: 15vw;
    }

    #game-is-won {
        top: 35vw;
        left: 18vw;
        

    }
    #current-turn{
        right:0vw;
        width:100vw;
        height: 25vw;
        top:95vw;
        font-size: 15vw;
    }
    #draw-button{
        left:0vw;
        width:99.9vw;
        height: 25vw;
        top:120vw;
        font-size: 15vw;
    }
    #resign-button{
        right:0vw;
        width:100vw;
        height: 25vw;
        top:145vw;
        font-size: 15vw;
    }

}