* {
    margin: 0;
    box-sizing: border-box;
}

#chess-board {
    position: absolute;
    /* top: 5rem;
    left: 25vw; */
    display: grid;
    grid-template-rows: repeat(8, 1fr);
    grid-template-columns: repeat(8, 1fr);
    width: calc(47.2vw + 6px);
    border-style: solid;
    border-width: 3px;
}

.black {
    background: black;
    border-color: black;
}

.red {
    background: red;
    border-color: red;
}

.white {
    background: white;
    border-color: white;
}

.square {
    width: 5.9vw;
    height: 5.9vw;
}

.piece {
    box-sizing: border-box;
    border-radius: 50%;
    border-style: solid;
    border-width: 3px;
    border-color: black;
    width: 5.9vw;
    height: 5.9vw;
}

.red.chosen {
    background: rgb(182, 68, 102);
}

.white.chosen {
    background: rgb(161, 174, 182);
}

.king {
    position: relative;
    bottom: 75%;
    width: 2.9vw;
    height: 2.9vw;
    box-sizing: border-box;
    border-radius: 50%;
    border-style: solid;
    border-width: 3px;
    border-color: black;
    left: 25%
}

.modal {
    position: fixed;
    top: 30vh;
    left: 17.5vw;
    width: 63vw;
    height: 40vw;
    opacity: 90%;
    background: rgb(85, 77, 189);
    font-size: 8vw;
    text-align: center;

}

/* .end-game-screen {
} */


.button {
    border-color: black;
    border-style: solid;
    border-width: 3px;
    opacity: 100%;
    background: rgb(66, 60, 136);

    /* display: inline-block; */
}

.draw-offer {
    background: rgb(85, 77, 189);
    font-size: 8vw;
    text-align: center;
    display: grid;
    grid-template-rows: 3fr 2fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'accept-draw accept-draw'
        'yes no';
}

.yes {
    grid-area: yes;
}

.no {
    grid-area: no;
}

.accept-draw {
    grid-area: accept-draw;

}


.resign {
    position: fixed;
    top: 25vw;
    right: 5vw;
    width: 10vw;
    height: 5vw;
    background: rgb(158, 49, 49);
    text-align: center;
    font-size: 3.0vw;

}

.draw {
    position: fixed;
    top: 15vw;
    right: 5vw;
    width: 10vw;
    height: 5vw;
    background: rgb(82, 172, 164);
    text-align: center;
    font-size: 3.0vw;

}

.display-none {
    display: none;
}
.current-turn {
    position: fixed;
    top: 5vw;
    right: 5vw;
    width: 10vw;
    height: 5vw;
    text-align: center;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    font-size: 2vw;
}
.game-is-won{
    height: 20vw;
}
